<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
<meta name="robots" content="all" />
<title>Sharelink</title>
<link rel="icon" href="~/images/favicon.ico"/>
<link rel="stylesheet" href="css/style.css">
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script src="js/common.js"></script>
<!--背景图片自动更换-->
<script src="js/supersized.3.2.7.min.js"></script>
<script src="js/supersized-init.js"></script>
<html>
<body>
    <div class="login-container">
        <h1>Sharelink</h1>
        <p>与你的朋友分享大家想看的事</p>
        <div class="download">
            <!--<a href="~/AndroidExeSharelink.html">Android版本敬请期待</a>-->
            <a href="https://itunes.apple.com/app/id1059287119" target="_blank">
                <img src="~/images/Download_on_the_App_Store_Badge_CN_135x40.svg"/>
            </a>
            <!--<a href="~/WMExeSharelink.html">Windows版本敬请期待</a>-->
        </div>
    </div>
</body>

</html>